{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>{{about.name}}</h1>
<img src="{{about.img.url}}">
<p>{{about.text}}</p>
<p>{{about.bio}}</p>

{% for About in about %}

    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                         <a href="{% url 'aboutDetail' About.pk %}"><img  width="400" height="400" src="{{About.img.url}}" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">{{About.name}}</h6>
                    <p class="mb-4">{{About.text}}</p>
                    <p class="mb-4">{{About.bio}}</p>
                    <div class="row gy-2 gx-4 mb-4">
            </div>
        </div>
    </div>

   <h2>Comment</h2>
   {% for comment in about.comment.all %}
       <p><strong>{{ comment.user.username }}:</strong>{{ comment.text }}</p>
   {% empty %}
        <p> No comment yet.</p>
   {% endfor %}

   {% if user.is_authenticated %}
         <h3>Add a Comment</h3>
         <form action="{% url 'add_comment' about.id %}" method="post" >
             {% csrf_token %}
             <textarea name="text" placeholder="Izoh yozing............"></textarea>
             <button type="submit">Jo'natish</button>
         </form>
   {% else %}
          <p>Izoh qoldiring va qo'ng'iroqni kuting .....</p>
   {% endif %}
</html>
</html>
